body {
    font-family: 'Montserrat';
}

#title {
    background-color: #ff4c68;
    color: #fff;
}

h1 {
    font-family: 'Montserrat';
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;

}

.container-fluid {
    padding: 3% 15%;
}

/* Navbar */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}

.title-img {
    transform: rotate(25deg);
    width: 60%;
}

.nav-item {
    padding:0 18px ;
}

.nav-link {
    font-family: 'Montserrat';
    font-weight: light;
    font-size: 1.2rem;
}

/* Download Buttons */

.download-button {
    margin: 5% 3% 5% 0;
}